.logo {
	a {
		svg {
			@apply relative z-10;
			width: 80px;
			height: 15px;
			path {
				@apply transition;
			}
		}
	}
	// @apply list-none cursor-pointer py-2 relative after:inset-0 after:origin-right after:z-0 after:content-DEFAULT after:bg-yellow-400 after:block after:absolute after:transition hover:after:origin-left;
	@apply cursor-pointer py-2 relative
	&::after {
		transform: scaleX(0);
	}
	&:hover::after {
		transform: scaleX(1);
	}
	&:hover {
		svg {
			path {
				// fill: black !important;
				@apply !fill-yellow-400 transition;
			}
		}
	}
}
